<footer >
    <hr>
    <div >
        <p>BiblioTec se trata de una aplicación para registrar, consultar, modificar y eliminar libros de manera virtual.<br>
            Desarrollado por: Jared Solano y Joaly Morales.</p>
    </div>
</footer>
<script src="/js/bootstrap.min.js" ></script>